body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.container {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.small {
    color: #666;
    font-size: 10pt;
    margin: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

h1 {
    clear: both;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    color: #005580;
    text-decoration: underline;
}

h1 a, h3 a {
    color: #000;
    text-decoration: none;
}

h1 a:hover, h3 a:hover {
    color: #666;
    text-decoration: none;
}

.post {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.linkback {
    position: absolute;
    right: 5px;
    top: 10px;
}

.rss {
    position: absolute;
    left: 270px;
    top: 5px;
}

.row .left {
    float: left;
}

.row .right {
    float: right;
    text-align: right;
}

.row .middle {
    float: left;
    margin-left: 40px;
    margin-top: 150px;
    text-align: center;
}

.clearfix {
    clear: both;
}

.container img {
    max-width: 800px;
    margin: 0 auto;
    display: block;
}

ul {
    line-height: 25px;
}

blockquote {
    border-left: 2px solid rgb(51, 102, 153);
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #eee;
}

.container iframe {
    margin: 0 auto;
    display: block;
}

.progress {
    -webkit-animation: progressbar 1s linear infinite;
    animation: progressbar 1s linear infinite;
    background-color: #149bdf;
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    height: 8px;
    width: 0%;
}

.progress-green {
    background-color: #5eb95e;
}

@-webkit-keyframes progressbar {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 39px 0px;
    }
}

@keyframes progressbar {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 39px 0px;
    }
}

#mediacrush-error {
    color: red;
}
