<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/stylesheet.css" type="text/css" />
        <script type="text/javascript">
        window.beforeMediaCrushLoad = function() {
            MediaCrush.maxMediaWidth = 720;
        };
        </script>
    </head>
    <body>
        <div class="container">
            <a class="linkback" href="https://mediacru.sh">Back to MediaCrush&#xbb;</a>
            <h1><a href="/">MediaCrush Blog</a></h1>
            {{ content }}
        </div>
        <script type="text/javascript" src="https://mediacru.sh/static/mediacrush.js"></script>
    </body>
</html>
