---
layout: base
---

<h2>{{ page.title }}</h2>

{{ content }}

<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'mediacrushblog';
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<p>Note: <a href="http://disqus.com">Disqus</a> may store information about you when you comment on these posts. Want to chat with
us privately? <a href="mailto:support@mediacru.sh">Email us</a>. You can use our <a href="https://mediacru.sh/serious">public key</a>
if you want to be extra careful.</p>

<script type="text/javascript">
window.addEventListener('load', function() {
    var link = document.getElementById('mediacrush-upload');
    var file = document.getElementById('mediacrush-file');
    var results = document.getElementById('mediacrush-results');
    var progress = document.querySelector('.progress');
    file.addEventListener('change', function(e) {
        MediaCrush.upload(file.files[0], function(media) {
            // Upload complete
            progress.style.width = '100%';
            progress.classList.add('progress-green');
            media.wait(function () {
                // Finished processing
                progress.classList.remove('progress-green');
                progress.style.width = '0%';
                var div = document.createElement('div');
                div.classList.add('mediacrush');
                div.setAttribute('data-media', media.hash);
                results.appendChild(div);
                MediaCrush.render(div);
            });
        }, function(e) {
            // XHR progress handler
            if (e.lengthComputable) {
                progress.style.width = (e.loaded / e.total) * 100 + '%';
                console.log(e.loaded / e.total);
            }
        });
    }, false);
    link.addEventListener('click', function(e) {
        e.preventDefault();
        file.click();
    }, false);
}, false);
</script>
